@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
    color: #000;

    --header-font-size: 13pt;
    --f-button-bg: #374151;
    --f-button-fg: #fff;
    --link-simple-fg: #000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
    object-fit: contain;
}

body {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}


.flex {
    display: flex;

    &-row {
        display: flex;
        flex-direction: row;

        &.beetwen {
            justify-content: space-between;
        }

        &.center {
            align-items: center;
        }
    }

    &-column {
        display: flex;
        flex-direction: column;

        &.beetwen {
            justify-content: space-between;
        }
    }

    
}

.btn {
    background-color: var(--f-button-bg);
    color: var(--f-button-fg);
    padding: 1rem 2rem;
}

.link {
    text-decoration: none;

    &.simple {
        color: var(--link-simple-fg);
    }
}